.bodyBackground {
    background-color: #233142;
}


header{
    background: url(../images/background.jpg) no-repeat center center/cover;
    color: white;
    text-align: center;
    padding: 180px 0;
    position: relative;
}

.profile-pic {
    width: 175px;
    height: 175px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    border: 2px solid #0000006e;
}

.container {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start; 
    margin-top: 110px;
    padding: 0 7%; 
}
.biography,
.projects {
    flex: 1; 
    padding: 0;
    box-sizing: border-box; 
}

.biography {
    margin-left: 5%;
}

.biography h3 {
    font-family: Consolas, monaco, monospace;
    font-size: 30px;
    overflow: hidden;
    color: #ffffff;
    white-space: nowrap;
    margin: 0;
    font-weight: 900;
    padding-right: 5px;
}

.biography p {
    font-family: Consolas, monaco, monospace;
    color: #ffffff;
    font-weight: 900;
    font-size: 18px;
    text-align: justify;
    margin: 20px 0;
    line-height: 1.5;
}

.projects {
    margin-right: 5%;
}
header h1 {
    font-family: Consolas, monaco, monospace;
    font-size: 50px;
    margin: 0;
    font-weight: 900;
    text-shadow: 0 0 10px #000000, 0 0 10px #000000;

}

header h2{
    font-family: Consolas, monaco, monospace;
    font-size: 30px;
    margin: 0;
    font-weight: 900;
    text-shadow: 0 0 10px #000000, 0 0 10px #000000;

}

.container .projects h1, 
.container .projects p {
    margin: 0 0 20px 0;
}

.auto-type{
    font-family: Consolas, monaco, monospace;
    text-align: center;
    font-weight: bolder;
    text-shadow: 0 0 10px #000000, 0 0 10px #000000;

}