/* navbar.css */
.navbar {
    background-color: transparent;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: background-color 0.5s ease;
}

.navbar.scrolled {
    background-color: #1f1f1f;
}

.navbar .navbar-brand {
    color: #fff;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.navbar .navbar-nav {
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
}

.navbar .navbar-nav .nav-item .nav-link {
    color: #000000;
    text-transform: uppercase;
    padding: 14px 20px;
    transition: background-color 0.3s, color 0.3s, transform 0.2s;
}

.navbar .navbar-nav .nav-item .nav-link:hover,
.navbar .navbar-nav .nav-item .nav-link.active {
    background-color: #31363F;
    color: #fff;
    transform: scale(1.1); /* Reduced zoom effect */
}

.navbar .navbar-nav .nav-item .nav-link i {
    font-size: 1.2rem;
    transition: transform 0.2s;
}

.navbar .navbar-nav .nav-item .nav-link:hover i {
    transform: scale(1.1); /* Reduced zoom effect */
}

.navbar.scrolled .navbar-nav .nav-item .nav-link {
    color: #fff;
}

.navbar.scrolled .navbar-nav .nav-item .nav-link:hover,
.navbar.scrolled .navbar-nav .nav-item .nav-link.active {
    background-color: #31363F;
    color: #fff;
    transform: scale(1.1); /* Reduced zoom effect */
}

.navbar.scrolled .navbar-nav .nav-item .nav-link i {
    color: #fff;
}

.navbar.scrolled .navbar-nav .nav-item .nav-link:hover i {
    transform: scale(1.1); /* Reduced zoom effect */
}

.social-icons {
    position: absolute;
    top: 0;
    right: 15px;
    display: flex;
    align-items: center;
    height: 100%;
}

@media (max-width: 768px) {
    .navbar .navbar-nav .nav-item {
        text-align: center;
    }

    .navbar .navbar-nav .nav-item .nav-link {
        padding: 10px 15px;
    }

    .social-icons {
        position: static;
        justify-content: center;
        margin-top: 10px;
    }
}
